body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    align-items: center;
    text-align: center;
}

header h1 {
    margin: 0;
    color: rgb(0, 0, 0);
    align-items: center;
    letter-spacing: 0cap;
    padding-right: 32rem;
}

nav {
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    padding: 10px 20px;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #739072;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #4F6F52;
}



label {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
    display: block;
  }
  

  select {
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin-bottom: 20px;
    color: #555;
    padding: 8px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
  }
  

  option {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #555;
  }
  

  select:focus {
    outline: none;
    border-color: #D2E3C8;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
  }
  